:root {
    --vt-c-white: #ffffff;
    --vt-c-gray: #868296;
    --vt-c-gray-1: #f3f5f7;
    --vt-c-black: #010101;
    --vt-c-primary: #173355;
    --vt-c-secondary: #fbc121;
    --vt-c-light: #f0f0f0;
    --vt-c-dark: #000047;
    --vt-c-red: #e42727;
    --vt-c-blue: #1c60ff;
    --vt-c-light-blue: #e1ecff;
    --bs-primary: #173355;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--vt-c-primary);
    --bs-btn-border-color: var(--vt-c-primary);
    --bs-btn-hover-color: var(--vt-c-primary);
    --bs-btn-hover-bg: var(--vt-c-white);
    --bs-btn-hover-border-color: var(--vt-c-primary);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--vt-c-gray);
    --bs-btn-disabled-border-color: var(--vt-c-gray-1);
}

.btn-outline-primary {
    background-color: var(--vt-c-white);
    --bs-btn-color: var(--vt-c-primary);
    --bs-btn-border-color: var(--vt-c-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--vt-c-primary);
    --bs-btn-hover-border-color: var(--vt-c-primary);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--vt-c-primary);
    --bs-btn-active-border-color: var(--vt-c-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--vt-c-gray-1);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--vt-c-gray);
    --bs-gradient: none;
}

.btn-lg {
    font-size: 1rem;
    font-weight: bold;
}

/* background */

.bg-primary {
    background-color: var(--vt-c-primary) !important;
}

.bg-gray-1 {
    background-color: var(--vt-c-gray-1);
}
.bg-light-blue {
    background-color: var(--vt-c-light-blue);
}

.bg-red {
    background-color: var(--vt-c-red);
}

/* gap */

.gap-block {
    gap: 2rem;
}

/* font-weight */
.fw-black {
    font-weight: 900;
}

/* font-size */

.fs-xs {
    font-size: 0.5rem;
    line-height: 0.75rem;
}

.fs-sm {
    font-size: 0.75rem;
    line-height: 1.125rem;
}
.fs-md {
    font-size: 1rem;
    line-height: 1.5rem;
}
.fs-lg {
    font-size: 1.5rem;
    line-height: 2.25rem;
}
.fs-xl {
    font-size: 2rem;
    line-height: 3rem;
}
.fs-2xl {
    font-size: 4rem;
    line-height: 6rem;
}

/* text-color */

.text-black {
    color: var(--vt-c-black) !important;
}

.text-gray {
    color: var(--vt-c-gray) !important;
}

.text-gray-1 {
    color: var(--vt-c-gray-1);
}
.text-white {
    color: var(--vt-c-white);
}
.text-primary {
    color: var(--vt-c-primary) !important;
}
.text-secondary {
    color: var(--vt-c-secondary) !important;
}
.text-light {
    color: var(--vt-c-light) !important;
}
.text-dark {
    color: var(--vt-c-dark) !important;
}
.text-red {
    color: var(--vt-c-red);
}
.text-blue {
    color: var(--vt-c-blue);
}
.text-light-blue {
    color: var(--vt-c-light-blue);
}

/* button */
